*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F9F9F9;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
    
}

#kutu{
    
    border-radius: 10px;
    width: 210px;
    align-items: center;
    text-align: center;
    padding: 5px;
    
    position: relative;
    float: left;
    margin: auto;
    

}
#kutu2{
    margin: auto;
}
.neler h2 {

    width: 200px;
    height: 400px;
    
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    margin: auto;
}
.social{
    text-align: right;
    align-items: right;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color:#A27B5C;
    position:sticky;
    overflow: hidden;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    top:0;
    z-index: 99;
    justify-content: center;
    height: auto;
    padding: 20px;
    
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a
  {
    position: relative;
    padding: 10px 20px;
    background: #EEE3CB;
    color: #fff;
    
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    letter-spacing: 4px;
    transform-style: preserve-3d;
    transition: ease-in-out 2s;
    border-radius: 60px;
    margin:10px;
  }
  .topnav a:hover
  {
    transform: rotateX(360deg);
  }
  .topnav a span
  {
    display: block;
    font-weight: bold;
    transform-style: preserve-3d;
    transform: perspective(100px) translateZ(20px);
  }
  .topnav a:before
  {
    content: '';
    position: absolute;
    top: 4px;
    left: 6px;
    right: 6px;
    bottom: 4px;
    border: 2px solid #fff;
    transform-style: preserve-3d;
    transform: perspective(500px) translateZ(15px);
    border-radius: 60px;
  }
  .topnav a:after
  {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 2px solid #fff;
    transform-style: preserve-3d;
    transform: perspective(500px) translateZ(-15px);
    border-radius: 60px;
  }
  
  
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  .yazi1{
    
    align-items: center;
    text-align: center;
    
    background-color: none;
    color: #A27B5C;
    text-transform: capitalize;
    margin-top:40px;
    
    font-size: 50px;
    width: 100%;
    height: auto;
    

  }
  .background{

    
    margin: 25px;
    display: flex;
    
    
    justify-content: space-around;
    padding:10px;
  }
  .background .h1{
    background-image: url(./src/hayvan1.svg);
    height:600px;
    width: 400px;
    background-size: cover;
    display: flex;
    
    background-size:cover; 
  
  }

  .background .h2{
    background-image: url(./src/hayvan2.svg);
    height:600px;
    width: 400px;
    background-size: cover;
    
  }

  .background .h3{
    background-image: url(./src/hayvan3.svg);
    height:600px;
    width: 400px;
    background-size: cover;
    
  }
  
  .logo{
    
    
    
    align-items: center;
    background-image: url(./src/inceyaprak.svg);
    
    display: flex;
    justify-content: center;
    padding: 0%;
    object-fit: fill;
    
  }
  .logo img{
    margin: 0%;
    background-image: url(./src/denemeback.svg);
    width: 100%;
    background-size: cover;
  }
  
  
  #neler{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(./src/inceyaprak.svg);
    margin-top: 5px;
  }
  .neler2{
    border: 5px solid;
    border-image: linear-gradient(#a4c3b2,#f6b73c, #a4c3b2) 30;
    text-align: center;
    margin: 40px;
    border-radius: 0px;
    padding: 25px;
    height: 500px;
    width: 400px;
  }
  .neler2:hover{
    border-image: linear-gradient(#f6b73c, #a4c3b2,#f6b73c) 30;
    transition: 0.5s;

  }
  .footer {
    background-image: url(./src/yaprak.svg);
    overflow: hidden;
    margin: 0%;
    display: flex;
    
    
    justify-content: center;
    
    height: 50px;
    margin-top: 10px;
  }
  .footer p{

    background: none;
    text-align: center;
    
    display: inline-flex;
    color: black;
    font-weight: 700;
    padding: 15px;
    color:#f6b73c;
    
    
  }
  #bizkimiz .kutu{
    
    
    justify-content: baseline;
    padding: 25px;

    background-image: url(./src/inceyaprak.svg);
    background-size: contain;
    flex-wrap: wrap;
    
  }
  .upper{
    
    padding: none;
  }
  .ogretmen{
    
    display: flex;
    justify-content: center;
    padding: 25px;
    background-image: url(./src/background2.svg);
    background-size: contain;
    
  }
  .kutu {
    display: flexbox;
    border: 5px solid;
    border-image: linear-gradient(#a4c3b2,#f6b73c, #a4c3b2) 30;
    text-align: center;
    margin: 20px;
    border-radius: 0px;
    padding: 25px;
    
    align-items: center;
    
  

    
  }
  .kutu h2,h4{
    
    
    background: none;
    color: whitesmoke;
    margin: 10px;
    
    }

  .kutu:hover{
    border-image: linear-gradient(#f6b73c, #a4c3b2,#f6b73c) 30;
    transition: 0.5s;
  }
  .kutu img{
    
    border-radius: 50%;
    border: 5px solid whitesmoke;
    filter:grayscale();
    
    
  }
  
  
  
  
 
  .konum{
    margin-top: 20px;
    
    align-items: center;
    display: flex;
  }
  .mapouter{
    width: 500px !important;
    border: 5px solid paleturquoise;
  }
  .booking{

    
    width: auto;
    height: 150%;
    align-items: center;
    display: flexbox;
    
  }
  .appointy{

    
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./src/inceyaprak.svg);

  }
  .appointy iframe{
    
    align-self: center;
  }
  .contain{
    
    display: flexbox;
  }
  
  .iletisimyazi{
    border: 1px solid white;
    
    margin:20px;
    margin-top:30px;
    border-radius: 40px;
    align-items: center;
    box-shadow: 20px 20px 50px grey;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    
  }
  .iletisimyazi p{
    vertical-align:text-bottom;
    background: none;
    margin-top:20px;
    margin-left: 25px;
   letter-spacing: 1px;
    box-shadow: 10px;
    font-size: 25px;
    text-align: center;
    width: auto;
    
  }
  #iletisim{
    display: flex;
    border: 5px solid white;
    padding: 50px;
    background-image: url(./src/denemeback.svg);
    flex-wrap: nowrap;
    align-items: baseline;
    background-size: cover;
  }
  .map{
    border: 1px solid white;
    box-shadow: 20px 20px 50px grey;
    padding: 5px;
    border-radius: 20px;
    margin:40px;
  }
  .öz{
    border: 5px solid whitesmoke;
    font-size: 20px;
    width: auto;
    border-radius: 50px;
    background:#a4c3b2;
    padding: 15px;
    font-weight: 700;
    color: white;
  }
  .öz:hover{
    background:#f6b73c;
    transition: 0.5s;
    transition-duration: 1s;
    color: black;
    border: 5px solid #a4c3b2;
  }
 
  .kazanımlar
  {
    
    display: flex;

  }
  #kazanımlartext
  {
    padding: 40px;
    width: 100%;
    text-align: center;
    color: #A27B5C;
  }
  #kazanimlaryazi{
    margin: 0px;
  }
  .nevar
  {
    
    display: flex;
    padding: 20px;

  }
  .neden
  {
    
    padding: 20px;

  }
  .rol
  {
    
    padding: 20px;

  }
  .ilerleme
  {
    
    padding: 20px;

  }
  .hijyen
  {
    
    padding: 20px;

  }
  #icon
  {
    width: 30%;
    
    margin:20px;
    
  }
  #icons
  {
    width: 30%;
    
    margin-left: 100px;
    margin:20px;
    
  }
  #title{
    background: #a4c3b2;
    border: 5px solid whitesmoke;
    border-radius: 20px;
    margin: 60px;
  }
  #bizkimiz{
    display: flex;
    flex-wrap: nowrap;
    
  }
  
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: antiquewhite; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    opacity: 60%;
    background-image: url(./src/up.svg);
    width: 60px;
    height: 60px;
  }
  
 
  #more {
  display: none;}
  #myBtna {
     /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 110px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index:99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    opacity: 60%;
    background-image: url(./src/phone.svg);
    width: 60px;
    height: 60px;
    background-size: cover;
  }
  #myBtnl {
    /* Hidden by default */
   position: fixed; /* Fixed/sticky position */
   bottom: 200px; /* Place the button at the bottom of the page */
   right: 30px; /* Place the button 30px from the right */
   z-index:99; /* Make sure it does not overlap */
   border: none; /* Remove borders */
   outline: none; /* Remove outline */
   background-color: none; /* Set a background color */
   background: none;
   color: black; /* Text color */
   cursor: pointer; /* Add a mouse pointer on hover */
   padding: 15px; /* Some padding */
   border-radius: 10px; /* Rounded corners */
   font-size: 18px; /* Increase font size */
   opacity: 60%;
   background-image: url(./src/location.svg);
   width: 60px;
   height: 60px;
   background-size: cover;
 }
  
  
  
  
  #nevartext{
    
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .nevarul{
    text-align: center;
    
  }
  .hijyen{
    display: flex;
    
  }
  .hijyen p{
    
    text-align: center;
    align-items: center;
    display: flex;
    font-size: larger;
    letter-spacing: 1px;
    
  }
  .ilerleme{
    display: flex;
    letter-spacing: 1px;
    
    text-align: center;
    align-items: center;
    
  }
  .rol{
    display: flex;
  }
  .neden{
    display: flex;
  }
  #ilerlemetext{
    
    list-style-type: none;
    text-align: center;
    font-size: larger;
  }
  #tarif{
    background: none;

  }
  .btn-moving-gradient{
    height: 55px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .btn-moving-gradient:hover {
    background-position: 100% 0;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .btn-moving-gradient--orange{
    background-image: linear-gradient(to right, hsl(31, 100%, 50%), hsl(45, 100%, 50%), hsl(41, 100%, 50%) , #FBB03B);
    box-shadow: 0 4px 15px 0 hsl(45, 100%, 40%);

  }
  @media screen and (max-width: 500px) {
    .topnav {
      visibility: hidden;
      
      
    }
    #icon
  {
    visibility: hidden;
    margin:20px;
    width: 15%;
    
  }
  #icons
  {
    width: 15%;
    visibility: hidden;
    margin-left: 100px;
    margin:20px;
    
  }
  .yazi1{
    font-size: 20px;
    margin: 20px;
  }
  #kazanimlartext{
    font-size: 15px;
    left: 20%;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    
  }
  #bizkimiz {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    
  }
  #iletisim{
    justify-content: space-around;
  }
  .kazanımlar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .nevar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .neden{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .rol{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

  }
  .hijyen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
   .ilerleme{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
   }
   #kutu{
    
    border-radius: 10px;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 5px;
    
    position: relative;
    float: left;
    margin: auto;
    

}
#myBtna {
  /* Hidden by default */
 position: fixed; /* Fixed/sticky position */
 bottom: 10px; /* Place the button at the bottom of the page */
 left: 60%; /* Place the button 30px from the right */
 z-index:99; /* Make sure it does not overlap */
 border: none; /* Remove borders */
 outline: none; /* Remove outline */
 background-color: black; /* Set a background color */
 color: black; /* Text color */
 cursor: pointer; /* Add a mouse pointer on hover */
 padding: 15px; /* Some padding */
 border-radius: 10px; /* Rounded corners */
 font-size: 18px; /* Increase font size */
 opacity: 60%;
 background-image: url(./src/phone.svg);
 width: 60px;
 height: 60px;
 background-size: cover;
}
#myBtnl {
 /* Hidden by default */
position: fixed; /* Fixed/sticky position */
bottom: 10px; /* Place the button at the bottom of the page */
left: 35%; /* Place the button 30px from the right */
z-index:99; /* Make sure it does not overlap */
border: none; /* Remove borders */
outline: none; /* Remove outline */
background-color: none; /* Set a background color */
background: none;
color: black; /* Text color */
cursor: pointer; /* Add a mouse pointer on hover */
padding: 15px; /* Some padding */
border-radius: 10px; /* Rounded corners */
font-size: 18px; /* Increase font size */
opacity: 60%;
background-image: url(./src/location.svg);
width: 60px;
height: 60px;
background-size: cover;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  left: 10%; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
   /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  opacity: 60%;
  background-image: url(./src/up.svg);
  width: 60px;
  height: 60px;
}
#iletisim{
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

  }
  @media screen and (min-width: 800px) {
    #iletisim
    {
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;
    }
  }