*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D2DAFF;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

#kutu{
    border: 2px solid red;
    border-radius: 10px;
    width: 210px;
    align-items: center;
    text-align: center;
    padding: 5px;
    
    position: relative;
    float: left;
    margin: auto;
    

}
#kutu2{
    margin: auto;
}
.neler h2 {

    width: 200px;
    height: 400px;
    border: 1px solid red;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    margin: auto;
}
.social{
    text-align: right;
    align-items: right;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color:D2DAFF;
    position:sticky;
    overflow: hidden;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    top:0;
    z-index: 99;
    justify-content: center;
    height: auto;
    padding: 20px;
    
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a
  {
    position: relative;
    padding: 20px 40px;
    background: #EEE3CB;
    color: #fff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    letter-spacing: 4px;
    transform-style: preserve-3d;
    transition: ease-in-out 2s;
    border-radius: 60px;
    margin:10px;
  }
  .topnav a:hover
  {
    transform: rotateX(360deg);
  }
  .topnav a span
  {
    display: block;
    font-weight: bold;
    transform-style: preserve-3d;
    transform: perspective(100px) translateZ(20px);
  }
  .topnav a:before
  {
    content: '';
    position: absolute;
    top: 4px;
    left: 6px;
    right: 6px;
    bottom: 4px;
    border: 2px solid #fff;
    transform-style: preserve-3d;
    transform: perspective(500px) translateZ(15px);
    border-radius: 60px;
  }
  .topnav a:after
  {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 2px solid #fff;
    transform-style: preserve-3d;
    transform: perspective(500px) translateZ(-15px);
    border-radius: 60px;
  }
  
  
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  .yazi{

    


  }
  .yazi1{
    
    align-items: center;
    text-align: center;
    position: ;
    background-color: none;
    color: #94ca65;
    text-transform: capitalize;
    margin-top:40px;
    
    font-size: 50px;
    width: 100%;
    height: auto;
    

  }
  .background{

    
    margin: 25px;
    display: flex;
    
    border: 1px solid red;
    justify-content: space-around;
    padding:10px;
  }
  .background .h1{
    background-image: url(./src/hayvan1.svg);
    height:600px;
    width: 400px;
    background-size: cover;
    display: flex;
    
    background-size:cover; 
  
  }

  .background .h2{
    background-image: url(./src/hayvan2.svg);
    height:600px;
    width: 400px;
    background-size: cover;
    
  }

  .background .h3{
    background-image: url(./src/hayvan3.svg);
    height:600px;
    width: 400px;
    background-size: cover;
    
  }
  
  .logo{
    
    
    
    align-items: center;
    background-image: url(./src/inceyaprak.svg);
    
    display: flex;
    justify-content: center;
    padding: 0%;
    object-fit: fill;
    
  }
  .logo img{
    margin: 0%;
    background-image: url(./src/inceyaprak.svg);
  }
  
  
  #neler{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(./src/inceyaprak.svg);
    margin-top: 5px;
  }
  .neler2{
    border: 5px solid;
    border-image: linear-gradient(#a4c3b2,#f6b73c, #a4c3b2) 30;
    text-align: center;
    margin: 40px;
    border-radius: 0px;
    padding: 25px;
    height: 500px;
    width: 400px;
  }
  .neler2:hover{
    border-image: linear-gradient(#f6b73c, #a4c3b2,#f6b73c) 30;
    transition: 0.5s;

  }
  .footer {
    background-image: url(./src/yaprak.svg);
    overflow: hidden;
    margin: 0%;
    display: flex;
    
    
    justify-content: center;
    
    height: 50px;
    margin-top: 10px;
  }
  .footer p{

    background: none;
    text-align: center;
    
    display: inline-flex;
    color: black;
    font-weight: 700;
    padding: 15px;
    color:#f6b73c;
    
    
  }
  #bizkimiz .kutu{
    
    display: flex;
    justify-content: baseline;
    padding: 25px;

    background-image: url(./src/inceyaprak.svg);
    background-size: contain;
    flex-wrap: wrap;
    
  }
  .upper{
    border: 1px solid red;
    padding: none;
  }
  .ogretmen{
    
    display: flex;
    justify-content: center;
    padding: 25px;
    background-image: url(./src/background2.svg);
    background-size: contain;
    
  }
  .kutu {
    display: flexbox;
    border: 5px solid;
    border-image: linear-gradient(#a4c3b2,#f6b73c, #a4c3b2) 30;
    text-align: center;
    margin: 20px;
    border-radius: 0px;
    padding: 25px;
    
    align-items: center;
  

    
  }
  .kutu h2,h4{
    background: none;
    border: 2px solid red;
    margin: 10px;
    
    }

  .kutu:hover{
    border-image: linear-gradient(#f6b73c, #a4c3b2,#f6b73c) 30;
    transition: 0.5s;
  }
  .kutu img{
    
    border-radius: 50%;
    border: 5px solid whitesmoke;
    filter:grayscale();
    
    
  }
  
  
  
  
 
  .konum{
    margin-top: 20px;
    border: 2px solid blue;
    align-items: center;
    display: flex;
  }
  .mapouter{
    width: 500px !important;
    border: 5px solid paleturquoise;
  }
  .booking{

    
    width: auto;
    height: 150%;
    align-items: center;
    display: flexbox;
    
  }
  .appointy{

    
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./src/inceyaprak.svg);

  }
  .appointy iframe{
    
    align-self: center;
  }
  .contain{
    
    display: flexbox;
  }
  
  .iletisimyazi{
    border: 1px solid white;
    width: 600px;
    margin-left: 100px;
    border-radius: 40px;
    align-items: center;
    box-shadow: 20px 20px 50px grey;
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    
  }
  .iletisimyazi p{
    vertical-align:text-bottom;
    background: none;
    margin-top:20px;
    margin-left: 25px;
    border: 1px solid red;
    box-shadow: 10px;
    font-size: 20px;
    text-align: center;
    width: auto;
    
  }
  #iletisim{
    display: flex;
    border: 5px solid white;
    padding: 50px;
    background-image: url(./src/inceyaprak.svg);
    flex-wrap: wrap;
  }
  .map{
    border: 1px solid white;
    box-shadow: 20px 20px 50px grey;
    padding: 5px;
    border-radius: 20px;
    margin:40px;
  }
  .öz{
    border: 5px solid whitesmoke;
    font-size: 20px;
    width: auto;
    border-radius: 50px;
    background:#a4c3b2;
    padding: 10px;
    font-weight: 700;
    color: white;
  }
  .öz:hover{
    background:#f6b73c;
    transition: 0.5s;
    transition-duration: 1s;
    color: black;
    border: 5px solid #a4c3b2;
  }
  .h1{
    border: 1px solid red;
  }
  .h2{
    border: 1px solid red;
  }
  .h3{
    border: 1px solid red;
  }
  .anasayfa
  {
    border:1px solid red;

  }
  .kazanımlar
  {
    border:1px solid red;
    display: flex;

  }
  #kazanımlartext
  {
    border: 1px solid red;
    width: 100%;
  }
  #kazanimlaryazi{
    margin: 20px;
  }
  .nevar
  {
    border:1px solid red;
    display: flex;

  }
  .neden
  {
    border:1px solid red;

  }
  .rol
  {
    border:1px solid red;

  }
  .ilerleme
  {
    border:1px solid red;

  }
  .hijyen
  {
    border:1px solid red;

  }
  #icon
  {
    width: 200px;
    border:1px solid blue;
  }