*{
    font-family: 'DynaPuff', cursive;
    background-color: blanchedalmond;
    
}

    
    
    


header{
position: fixed;
background-color: burlywood;
display: inline-block;
width: 100%;
}
#menu{
    background-color: burlywood;
    display:inline-block; 
    padding: 0%;
    margin-top: 0%;

}





#yazi{
    top: auto;
    z-index: 5;
    margin-top: 0px;
}